App_WebReferences/ChequeReturnRequest/MTEL_ChequeReturnRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://MTELPDC.shvetankinfotech.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://MTELPDC.shvetankinfotech.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://MTELPDC.shvetankinfotech.com/">
      <s:element name="AddChequeReturnRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CenterCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SBEntryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChequeIdNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnReasonId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CenterUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnReasonNote" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChequeReturnRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddChequeReturnRequestResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddChequeReturnRequestSoapIn">
    <wsdl:part name="parameters" element="tns:AddChequeReturnRequest" />
  </wsdl:message>
  <wsdl:message name="AddChequeReturnRequestSoapOut">
    <wsdl:part name="parameters" element="tns:AddChequeReturnRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="MTEL_ChequeReturnRequestSoap">
    <wsdl:operation name="AddChequeReturnRequest">
      <wsdl:input message="tns:AddChequeReturnRequestSoapIn" />
      <wsdl:output message="tns:AddChequeReturnRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MTEL_ChequeReturnRequestSoap" type="tns:MTEL_ChequeReturnRequestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddChequeReturnRequest">
      <soap:operation soapAction="http://MTELPDC.shvetankinfotech.com/AddChequeReturnRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MTEL_ChequeReturnRequestSoap12" type="tns:MTEL_ChequeReturnRequestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddChequeReturnRequest">
      <soap12:operation soapAction="http://MTELPDC.shvetankinfotech.com/AddChequeReturnRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MTEL_ChequeReturnRequest">
    <wsdl:port name="MTEL_ChequeReturnRequestSoap" binding="tns:MTEL_ChequeReturnRequestSoap">
      <soap:address location="http://mtelpdc.shvetankinfotech.com/MTEL_ChequeReturnRequest.asmx" />
    </wsdl:port>
    <wsdl:port name="MTEL_ChequeReturnRequestSoap12" binding="tns:MTEL_ChequeReturnRequestSoap12">
      <soap12:address location="http://mtelpdc.shvetankinfotech.com/MTEL_ChequeReturnRequest.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>